* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background: none;
  font: inherit;
  color: inherit;
  list-style: none;
  text-decoration: none;
}
.CountryApp {
  font-family: sans-serif;
  padding: 1em;
  background-color: #ececec;
}
